<section class="probootstrap-cover overflow-hidden relative"  style="background-color: #333; height: 100vh;" data-stellar-background-ratio="0.5"  id="section-home">
    <div class="overlay"></div>
        <div class="container">
            <div class="col-lg-6 offset-lg-3 col-md-12">
                <h1>Εγγραφή</h1>
                {{#if hasErrors}}
                    <div class="alert alert-danger">
                        {{#each messages }}
                            <p>{{this}}</p>
                        {{/each}}
                    </div>
                {{/if}}
                <form action="/drivers/signup" method="post">
                    <div class="form-group">
                        <label for="firstName">Όνομα</label>
                        <input type="firstName" id="firstName" name="firstName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Επώνυμο</label>
                        <input type="lastName" id="lastName" name="lastName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="phone">Τηλέφωνο</label>
                        <input type="phone" id="phone" name="phone" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="vahicle">Μεταφωρικό μέσο</label>
                        <select type="vahicle" id="vahicle" name="vahicle" class="form-control">
                            <option value="">Μηχανή</option>
                            <option value="">Αυτοκίνητο</option>
                            <option value="">Ποδήλατο</option>
                            <option value="">Φορτηγό</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="licensePlate">Αρ. Πινακίδας</label>
                        <input type="licensePlate" id="licensePlate" name="licensePlate" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Εγγραφή</button>
                </form>
            </div>
        </div>
</section>