@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700&subset=greek');


body {
  font-family: 'Ubuntu', sans-serif !important;
}


/* ΜΕΤΑΤΡΟΠΗ ΤΟ MENU ΓΙΑ ΝΑ ΕΧΕΙ ΤΟ BRAND ΣΤΗΝ ΜΕΣΗ*/

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
}
.navbar-toggle {
  z-index:3;
}

/*ΑΛΛΑΓΗ ΣΥΜΠΕΡΙΦΟΡΑΣ ΤΟΥ DROPDOWN MENU*/

.navbar-nav .dropdown-menu {
  position: absolute !important;
}


/*ΑΛΛΑΓΗ ΤΟΥ btn-secondary:active για την επιλογη βαρους στην αρχική φόρμα*/

.btn-secondary:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  background-color: #ffffff !important;
  color: #868e96 !important;
}

/*το μέγεθος της γραμματοσειράς της τιμης*/
#output {
  font-size: 1.25rem;
}

/*το border του input της φορμας*/
/* .modal-body .form-control {
 border-color: red;
} */