<div class="col-md-4 offset-md-4">
    <h1>Εγγραφή</h1>
    {{#if hasErrors}}
        <div class="alert alert-danger">
            {{#each messages }}
                <p>{{this}}</p>
            {{/each}}
        </div>
    {{/if}}
    <form action="/users/signup" method="post">
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Κωδικός</label>
            <input type="password" id="password" name="password" class="form-control">
        </div>
        <button type="submit">Σύνδεση</button>
    </form>
        <p>Αν έχεις λογαριασμό, κάνε <a href="/users/signin">ΣΥΝΔΕΣΗ</a>.</p>
</div>